@font-face {
    font-family: 'DesirePro';
    src: url(fonts/desire-pro.otf) format('opentype');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: 'CardinalFruit';
    src: url(fonts/cardinal-fruits.ttf) format('opentype');
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DesirePro', serif;
}

body {
    transition: all 0.3s;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: left;*/
    min-height: 100vh;
    /*min-width: 120vh;*/
    /*background: #484747;*/
    /*font-size: 1rem;*/
    /*font-weight: 400;*/
    line-height: 1.5;
    /*text-align: left;*/
    background-color: var(--body-bg);


    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll;
}

#behind_box {
    /*position: fixed;*/
    position: absolute;

    width: 100%;
    height: 100%;
    left: 40%;
    top: 5%;
    /*819FED*/
    border: 20px solid var(--behind-border);
    outline: 1px solid var(--behind-outline);
    float: left;
    background-color: var(--behind-bg);
    transition: all 0.3s;
}

#spawn_box {
    /*position: fixed*/
    position: absolute;

    width: 66vw;
    height: 88vh;
    left: 27%;
    top: 65vh;
    border: 2px solid var(--spawn-border);
    outline: 12px solid var(--spawn-outline);
    float: left;
    background-color: var(--spawn-bg);
    transition: all 0.3s;
}

#experience_box {
    /*position: fixed;*/
    position: absolute;

    width: 55vw;
    height: 80vh;
    left: 40vw;
    top: 160vh;
    border: 15px solid var(--experience-border);
    outline: 1px solid var(--experience-outline);

    /*float: left;*/
    background-color: var(--experience-bg);
    transition: all 0.3s;
    /*z-index: -1;*/
}

#creations_box {
    /*position: fixed;*/
    position: absolute;

    width: 66vw;
    height: 65vh;
    left: 25vw;
    top: 230vh;
    border: 15px solid var(--creations-border);
    outline: 2px solid var(--creations-outline);
    float: left;
    background-color: var(--creations-bg);
    transition: all 0.3s;
}

section {
    min-height: 60vh;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade {
    animation: fade-bottom 1s ease-in;
}

footer {
    position: relative;
    top: 50vh;
    width: 100%;
    height: 5vw;
    left: 10vw;
    text-align: center;
}

footer div{
    font-family: "CardinalFruit", Serif;
    color: var(--heading);
    font-size: 16px;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    section {
        min-height: 45vh;
    }

    #behind_box {
        /*height: 400vh;*/
        /*left: 85%;*/
        display: none;
    }

    #spawn_box {
        display: none;
    }

    #experience_box {
        display: none;
    }

    #creations_box {
        display: none;
    }

    .reveal {
        opacity: unset;
    }

    .active.fade {
        animation: unset;
    }

    body {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }
}
