#creations {
    min-height: 100vh;
}

.portfolio {
    display: flex;
    width: 57vw;
    height: 60%;
    position: absolute;
    left: 30vw;
    top: 38vh;
}

.portfolio h2 {
    right: 12vw;
}

.portfolio h2::after {
    content: "";
    display: block;
    width: 35vw;
    margin-top: -15px;
    height: 1px;
    margin-left: 170px;
    background-color: var(--after-heading);
}

.wrapThisAgain {
    position: relative;
    top: 10vh;
    overflow: hidden;
    border-left: 1px solid var(--borders-woo);
    border-right: 1px solid var(--borders-woo);
}

.projects {
    display: flex;
    column-gap: 10px;
    height: 100%;
    /*transition: transform 0.5s ease-in-out;*/
    transition: transform 0.5s ease;
}

.pics {
    filter: saturate(0) brightness(0.8);
    transition-property: filter;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);

    width: auto;
    height: 100%;
    border: 1px solid var(--borders-woo);

    /*flex: 1 0 auto;*/
    display: block;

}

.pics:hover {
    filter: none;
    transition-duration: .3s;
}


/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .portfolio {
        left: 32vw;
        top: 50vh;
    }
}
