.projects {
    /*position:absolute;*/
    left: 27%;
    /*top: 60vh;*/

}

.portfolio {
    display: inline-flex;
    column-gap: 10px;
    width: 100%;
    height: 36%;
    position: absolute;
}

.inner {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.a {
    filter: saturate(0) brightness(0.8);
    transition-property: filter;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);

    width: auto;
    height: 100%;
    border: 1px solid currentColor;
}

.a:hover {
    filter: none;
    transition-duration: .3s;
}

/*.a img {*/
/*    width: auto;*/
/*    height: 20%;*/
/*    border: 1px solid currentColor;*/
/*}*/