#creations {
    min-height: 100vh;
}

.portfolio {
    display: inline-flex;
    width: 57%;
    height: 60%;
    position: absolute;
    left: 30vw;
    top: 38vh;
}

.portfolio h2::after {
    content: "";
    display: block;
    width: 35vw;
    margin-top: -15px;
    height: 1px;
    margin-left: 170px;
    background-color: var(--after-heading);
}

.wrapThisAgain {
    position: relative;
    top: 10vh;
    overflow: hidden;
    border-left: 1px solid var(--borders-woo);
    border-right: 1px solid var(--borders-woo);
}

.projects {
    display: inline-flex;
    column-gap: 10px;
    height: 100%;
}

.projects:hover {
    right: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
}

.a {
    filter: saturate(0) brightness(0.8);
    transition-property: filter;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);

    width: auto;
    height: 100%;
    border: 1px solid var(--borders-woo);

}

.a:hover {
    filter: none;
    transition-duration: .3s;
}


/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .portfolio {
        left: 32vw;
        top: 50vh;
    }
}
