#experience {
    min-height: 70vh;
}

.expert {
    left: 35vw;
    /*bottom: 33vh;*/
    top: 30vh;
    position:absolute;
    color: #bbbbbb;
    font-size: 22px;
}

/*.experience .numbered-heading {*/
/*    top: 20vh;*/
/*}*/

.expert h2 {
    top: -17%;
    position: unset;
}

.expert h2::after {
    content: "";
    display: block;
    width: 35vw;
    margin-top: -10px;
    height: 1px;
    margin-left: 170px;
    background-color: #a1a1a1;
}

.content h3 {
    margin: 15px 0 0 0;
    font-size: 2.5rem;
    color: #E8E8E8;
}
.content h3 a {
    text-decoration: none;
    color: #F5C9F1;
    font-size: 2.6rem;
}

.content h3 a:hover {
    color: #93788f;
}

.content h5 {
    font-size: 1rem;
    font-family: "NTR",sans-serif;
    margin-bottom: 10px;
}

.content li::before {
    content: "▹ ";
    position: absolute;
    left: 0;
    color: #F5C9F1;
}

.content li {
    font-size: 1.2rem;
    font-family: "NTR",sans-serif;
    max-width: 55%;
    margin-left: 40px;
    margin-bottom: 15px;
    list-style: none;
}

.technologies {
    margin-top: 20px;
}

.tools li {
    display: inline-grid;
    list-style: none;
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;*/

    /*text-decoration: none;*/
    /*font-family: 'DesirePro', sans-serif;*/
    /*width: 80px;*/
    /*text-align: center;*/
    /*font-size: 22px;*/

    background-color: #404044;
    color: #F5C9F1;
}

/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .expert {
        left: 34vw;
        top: 28vh;
    }

    .content h3 {
        font-size: 2.2rem;
        margin-bottom: unset;
    }

    .content h3 a {
        font-size: 2.3rem;
    }
    .content li {
        font-size: 1.1rem;
        max-width: 70%;
        margin-left: 20px;
    }

    .expert h2::after {
        /*width: 35vw;*/
        margin-top: -20px;
    }
}

