

.wrapper{
    left: 25%;
    top: 15%;
    z-index:100;

    position:absolute;
    display: flex;
}

.wrapper .static-txt{
    color: #E8E8E8;
    font-size: 86px;
    font-weight: 400;
    /*position: relative;*/
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 129px;
    line-height: 129px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    color: #F5C9F1;
    font-size: 86px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
}
@keyframes slide {
    100%{
        top: -387px;
        /*129px * 3*/
    }
}
.dynamic-txts li span{
    position: inherit;
    margin: 5px 0;
    line-height: 129px;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 61%;
    width: 100%;
    background: #5E5E5E;
    border-left: 1px solid #F5C9F1;
    animation: typing 3s steps(7) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 43px);
    }
    100%{
        left: 0;
    }
}

.intro {
    z-index:100;
    color: #E8E8E8;
    margin-top: 90px;
    position: absolute;
    left: 25%;
    top: 15%;
    max-width: 60%;
}

.title {
    font-size: 40px;

}

.description {
    font-size: 22px;
    font-family: "Roboto Thin";

}