.wrapper{
    left: 35vw;
    top: 30vh;
    z-index: 5;

    position: absolute;
}

.wrapper .static-txt{
    color: #E8E8E8;
    font-size: 5.5rem;
    /*display: inline-block;*/
    /*height: 5rem;*/
}

#lol {
    color: #F5C9F1;
    /*font-size: 5.5rem;*/
    /*display: inline-block;*/

}
/*  USE REM FOR FONTS */

#lol::after{
    content: "";
    position: relative;
    display: inline-block;
    /*left: 0;*/
    top: 1vh;
    /*top: -16px;*/
    height: 5.5rem;
    /*background: #5E5E5E;*/
    /*font-size: 5.5rem;*/
    border-left: 4px solid #F5C9F1;
    animation: cursor .5s infinite alternate;
}

@keyframes cursor {

    55% {
        border-color: transparent
    }
}

.intro {
    z-index:100;
    color: #E8E8E8;
    margin-top: 90px;
    position: absolute;
    left: 35vw;
    top: 30vh;
    max-width: 60%;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


@keyframes fadein {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.title {
    font-size: 2.2rem;
}

.description {
    font-size: 1.3rem;
    font-family: "NTR",sans-serif;
    color: #c7c7c7;
}


@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .description {
        font-size: 1.2rem;
    }

}

