nav {
    display: block;
    position: fixed;
    top: 35vh;
    left: 5vw;
    z-index: 1;
}

nav .navlist {
    /*list-style-type: decimal-leading-zero;*/
    /*list-style-position: inside;*/

    /*width: 100% !important;*/
    /*background-color: #41414190;*/

    /*transition: 1000ms;*/
    list-style: none;
    z-index: 1;
}

nav .navlist .links li {
    font-size: 18px;
    /*font-family: "CardinalFruit", Serif;*/
    padding-top: 20px;
}

nav .navlist .links li .border {
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 1px;
    width: 2rem;
    background-color: #a1a1a1;
    transition-duration: .20s;
}

nav .navlist .links li .words {
    text-decoration: none;
    color: #E8E8E8;
    /*font-family: "NTR",sans-serif;*/
    font-family: "CardinalFruit", Serif;
    font-size: 23px;
    letter-spacing: .05em;
}

nav .navlist .links li.active .border {
    width: 4rem;
    background-color: #F5C9F1;
    transition-duration: .20s;

}

nav .navlist .links li:hover .border {
    width: 4rem;
    background-color: #F5C9F1;
    transition-duration: .20s;
}

nav .navlist .links li.active .words {
    color: #F5C9F1;
}

nav .navlist .links li:hover .words {
    color: #F5C9F1;
}

.navlist .aaicon {
    /*float: left;*/
    width: 44px;
    height: 40px;

    cursor: pointer;
    position: absolute;
    bottom: 13vh;
    /*transition: 50ms;*/
    margin-bottom: 55px;
    left: -6px;
    transition: all .4s ease;
}

.navlist .aaicon:hover {
    /*background-color: #F5C9F120;*/
    filter: grayscale(1);
    transition: all .4s ease;
    transform: scale(1.1);
}

.resume-button {
    border: 1.5px solid #F5C9F1;
    border-radius: 1px;
    padding: 0.1rem 0.5rem;

    cursor: pointer;
    position: absolute;
    margin-top: 45px;
    transition: all .4s ease;

}

.resume-button a {
    text-decoration: none;
    color: #F5C9F1;
    font-size: 18px;
    font-family: "NTR",sans-serif;
    letter-spacing: .05em;
}

.resume-button:hover {
    /*the color is #F5C9F1 the 20 at the end refers to trasparency*/
    filter: grayscale(1);
    transition: all .4s ease;
    transform: scale(1.1);
}


/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .navlist .aaicon {
        margin-bottom: 45px;
    }

    nav .navlist .links li .border {
        width: 1rem;
    }

    nav .navlist .links li.active .border {
        width: 2rem;
    }

    nav .navlist .links li:hover .border {
        width: 2rem;
    }
}

/*add 600*/
@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }
}
