nav {
    display: block;
    position: fixed;
    top: 35vh;
    left: 5vw;
    z-index: 1;
}

ol {
    /*list-style-type: decimal-leading-zero;*/
    /*list-style-position: inside;*/

    /*width: 100% !important;*/
    /*background-color: #41414190;*/

    /*transition: 1000ms;*/
    list-style: none;
    z-index: 1;
}

ol li {
    color: #F5C9F1;
    font-size: 18px;
    font-family: "NTR",sans-serif;
    padding-top: 20px;
}

.border {
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 2px;
    width: 1rem;
    color: #E8E8E8;
    background-color: #a1a1a1;
}

.border .active {
    width: 2rem;
    color: #F5C9F1;
}

.words {
    text-decoration: none;
    color: #E8E8E8;
    font-family: "NTR",sans-serif;
    font-size: 18px;
    letter-spacing: .05em;
}

.words .active {
    font-size: 15px;
    color: #F5C9F1;
}

.navlist .aaicon {
    /*float: left;*/
    width: 44px;
    height: 40px;

    cursor: pointer;
    position: absolute;
    bottom: 14vh;
    transition: 50ms;
}

.navlist .aaicon:hover {
    background-color: #F5C9F120;
}

.resume-button {
    border: 1.5px solid #F5C9F1;
    border-radius: 1px;
    padding: 0.1rem 0.5rem;

    cursor: pointer;
    position: absolute;
    margin-top: 20px;
}

.resume-button a {
    text-decoration: none;
    color: #F5C9F1;
    font-size: 18px;
    font-family: "NTR",sans-serif;
    letter-spacing: .05em;
}

.resume-button:hover {
    /*the color is #F5C9F1 the 20 at the end refers to trasparency*/
    background-color: #F5C9F120;
}
