.numbered-heading {
    position:absolute;
    font-size: 2.5rem;
    list-style-type: decimal-leading-zero;
    color: #E8E8E8;
}

#zpawn {
    display: flex;
    flex-direction: row;
    left: 35vw;
    top: 28vh;
    /*top: 65vh;*/
    position:absolute;
    color: #bbbbbb;
    font-size: 22px;
}

#zpawn h2 {
    top: -17%;
}

#zpawn h2::after {
    content: "";
    display: block;
    width: 25vw;
    margin-top: -10px;
    height: 1px;
    margin-left: 110px;
    background-color: #a1a1a1;
}

.about p{
    font-size: 1.2rem;
    font-family: "NTR",sans-serif;
    max-width: 60%;
}

#zpawn img {
    max-width: 18vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
    position: relative;
    left: -13vw;
    bottom: 6vh;
}

#zpawn .logos img{
    max-width: 30px;
    height: auto;
    margin-right: 10px;
}

#zpawn .about-image .logos {
    display: flex;
    flex-direction: row;
    margin-left: 6vw;
    padding-bottom: 20px;
}

/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    #zpawn {
        left: 34vw;
        top: 27vh;
    }

    .about p {
        font-size: 1.1rem;
    }

    #zpawn h2::after {
        width: 24vw;
        margin-top: -20px;
    }
}