.numbered-heading {
    top: -17%;
    position:absolute;
    z-index:100;
    font-size: 40px;
    font-weight: 200;
    list-style-type: decimal-leading-zero;
}

.zpawn {
    display: flex;
    flex-direction: row;
    left: 27vw;
    top: 32vw;
    position:absolute;
    color: #bbbbbb;
    font-size: 22px;
}

.zpawn h2 {
    color: #E8E8E8;
}

.zpawn h2::after {
    content: "";
    display: block;
    width: 400px;
    margin-top: -10px;
    height: 1px;
    margin-left: 100px;
    background-color: #a1a1a1;
}

.about p{
    font-size: 22px;
    font-family: "NTR",sans-serif;
    max-width: 50%;
}

.zpawn img {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 6px 13px 23px -5px rgba(0,0,0,.46);
    position: relative;
    left: -20vw;
    top: -1vw;
}
