#experience {
    min-height: 70vh;
}

.expert {
    left: 8vw;
    top: 8vh;
    position:absolute;
    color: var(--text-colour);
    font-size: 22px;
}

.expert h2::after {
    content: "";
    display: block;
    width: 25vw;
    margin-top: -15px;
    height: 1px;
    margin-left: 190px;
    background-color: var(--after-heading);;
}

.content h3 {
    margin: 15px 0 0 0;
    font-size: 2.3rem;
    color: var(--intro-colour);
}
.content h3 a {
    text-decoration: none;
    color: var(--highlight-colour);
    font-size: 2.6rem;
    transition: all .4s ease;
}

.content h3 a:hover {
    color: var(--highlight-hover);
    transition: all .4s ease;
    font-size: 2.7rem;
}

.content h5 {
    font-size: 1rem;
    font-family: "NTR",sans-serif;
    margin-bottom: 10px;
}

.content li::before {
    content: "▹ ";
    position: absolute;
    left: 0;
    color: var(--nav-highlight-colour);
}

.content li {
    font-size: 1.3rem;
    font-family: "NTR",sans-serif;
    max-width: 80%;
    margin-left: 40px;
    margin-bottom: 15px;
    list-style: none;
}

.technologies {
    margin-top: 20px;
}

.tools li {
    display: inline-grid;
    list-style: none;
    padding: 5px 15px;
    font-size: 1.1rem;
    border-radius: 20px;

    background-color: var(--tools-background);
    color: var(--nav-highlight-colour);
}

/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .content h3 {
        font-size: 2.2rem;
        margin-bottom: unset;
    }

    .content h3 a {
        font-size: 2.3rem;
    }
    .content li {
        font-size: 1.1rem;
        max-width: 80%;
        margin-left: 20px;
    }

    .expert h2::after {
        /*width: 35vw;*/
        margin-top: -20px;
    }
}

@media only screen and (max-width: 600px) {
    .expert {
        left: 10vw;
        top: 10vh;
    }

    .expert h2::after {
        width: 36vw;
        margin-top: -20px;
        margin-left: 160px;
    }

    .content h3 {
        font-size: 1.8rem;
    }

    .content h3 a {
        font-size: 2rem;
        text-decoration: underline;
    }

    .content li {
        margin-left: 15px;
        font-size: 1rem;
        max-width: 85%;
    }

    .tools {
        display: grid;
        grid-template-columns: repeat(2,minmax(150px,10px));
    }

    .tools li::before {
        left: 0;
    }

    .tools li {
        margin-left: 30px;
        padding: 5px 5px;
        text-align: center;
    }
}

/*dumb iphone specific styling */
@media only screen and (max-width: 375px) {
    .expert {
        top: 22vh;
    }

    .expert h2::after {
        margin-left: 175px;
    }
}
