.wrapper {
    left: 35vw;
    top: 35vh;
    z-index: 5;

    position: absolute;
}

.wrapper .static-txt {
    color: var(--intro-colour);
    font-size: 4.9rem;
    font-family: "CardinalFruit", Serif;
}

#lol {
    color: var(--highlight-colour);
    font-family: "CardinalFruit", Serif;

}

#lol::after {
    content: "";
    position: relative;
    display: inline-block;
    top: 1vh;
    height: 5.5rem;
    border-left: 4px solid var(--highlight-colour);
    animation: cursor .5s infinite alternate;
}

@keyframes cursor {

    55% {
        border-color: transparent
    }
}

.intro {
    z-index: 100;
    color: var(--intro-colour);
    margin-top: 90px;
    position: absolute;
    left: 35vw;
    top: 35vh;
    max-width: 60%;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


@keyframes fadein {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.quote {
    font-size: 1.8rem;
    font-family: "CardinalFruit", Serif;
}

.description {
    font-size: 1.1rem;
    font-family: "NTR", sans-serif;
    color: var(--desc-colour);
    display: block;
}


@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .description {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .intro {
        -webkit-animation: fadein 0s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0s; /* Firefox < 16 */
        -ms-animation: fadein 0s; /* Internet Explorer */
        -o-animation: fadein 0s; /* Opera < 12.1 */
        animation: fadein 0s;
    }

    .intro-wrap {
        padding: unset;
    }

    .intro-wrap .wrapper {
        text-align: center;
    }

    .wrapper .static-txt {
        font-size: 2.4rem;
        text-align: center;
    }

    .wrapper {
        left: unset;
        top: unset;
        z-index: unset;
        position: unset;
    }

    .intro {
        left: unset;
        top: unset;
        text-align: center;
        margin-top: unset;
        max-width: unset;
        z-index: unset;
        position: unset;
    }

    .quote {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
        font-family: "NTR", sans-serif;
        color: var(--text-colour);;
    }

    #lol::after {
        top: 1vh;
        height: 3rem;
        border-left: 3px solid #F5C9F1;
    }
}