nav {
    display: block;
    position: fixed;
    top: 35vh;
    left: 5vw;
    z-index: 1;
}

nav ol {
    list-style: none;
}

nav .navlist .links li {
    font-size: 18px;
    padding-top: 20px;
}

nav .navlist .links li .border {
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 2px;
    width: 2rem;
    background-color: var(--line-border-colour);
    transition-duration: .20s;
}

nav .navlist .links li .words {
    text-decoration: none;
    color: var(--word-colour);
    /*font-family: "NTR",sans-serif;*/
    font-family: "CardinalFruit", Serif;
    font-size: 23px;
    letter-spacing: .05em;
}

nav .navlist .links li.active .border {
    width: 4rem;
    background-color: var(--nav-highlight-colour);
    transition-duration: .20s;
}

nav .navlist .links li:hover .border {
    width: 4rem;
    background-color: var(--nav-highlight-colour);
    transition-duration: .20s;
}

nav .navlist .links li.active .words {
    color: var(--nav-highlight-colour);
}

nav .navlist .links li:hover .words {
    color: var(--nav-highlight-colour);
}

.navlist .aaicon {
    width: 44px;
    height: 40px;

    cursor: pointer;
    position: absolute;
    bottom: 11vh;
    /*transition: 50ms;*/
    margin-bottom: 95px;
    left: -6px;
    transition: all .4s ease;
}

.navlist .aaicon:hover {
    filter: grayscale(1);
    transition: all .4s ease;
    transform: scale(1.1);
}

.resume-button {
    border: 1.5px solid var(--nav-highlight-colour);
    border-radius: 3px;
    padding: 0.75rem 1rem;

    cursor: pointer;
    position: absolute;
    margin-top: 35px;
    transition: all .4s ease;

}

.resume-button a {
    text-decoration: none;
    color: var(--nav-highlight-colour);
    font-size: 18px;
    font-family: "NTR", sans-serif;
    letter-spacing: .05em;
}

.resume-button:hover {
    filter: grayscale(1);
    transition: all .4s ease;
    transform: scale(1.1);
}

/*27-inch and + screens*/
@media only screen and (min-device-width: 2560px) {
    .navlist .aaicon {
        margin-bottom: 65px;
    }
}


/*laptop screen*/
@media only screen and (min-device-width: 1200px)  and (max-width: 1600px) {
    .navlist .aaicon {
        margin-bottom: 125px;
    }

    nav .navlist .links li .border {
        width: 1rem;
    }

    nav .navlist .links li.active .border {
        width: 2rem;
    }

    nav .navlist .links li:hover .border {
        width: 2rem;
    }

    .resume-button {
        padding: 0.55rem 1rem;
    }
}

@media only screen and (max-width: 600px) {
    nav a {
        display: none;
    }

    nav .navlist ol {
        display: none;
    }

    .resume-button {
        display: none;
    }

    nav {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 1030;
        top: 0;
        background-color: var(--body-bg);

        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
    }

    nav .aesthetic > * {
        animation: none;
    }
}
