.numbered-heading {
    font-size: 2.5rem;
    list-style-type: decimal-leading-zero;
    color: var(--heading);
    font-family: "CardinalFruit", Serif;
}

.heading-font .numb {
    font-size: 2.1rem;
}

.heading-font {
    font-weight: 400;
}

#spawn {
    min-height: 70vh;
}

.zpawn {
    display: grid;
    /* Top left is twice as wide as top right */
    grid-template-columns: 2fr 1fr;
    /* Bottom cells are 6 times as tall as the top cells */
    grid-template-rows: 1fr 6fr;
    /* Space between cells */
    gap: 10px;
    color: var(--text-colour);
}

.zpawn > * {
    left: 8vw;
    top: 10vh;
    position: relative;
}

.zpawn h2::after {
    content: "";
    display: block;
    width: 21vw;
    margin-top: -15px;
    height: 1px;
    margin-left: 130px;
    background-color: var(--after-heading);;
}

.about p {
    font-size: 1.1rem;
    font-family: "NTR", sans-serif;
    max-width: 68%;
}

.zpawn img {
    max-width: 15vw;
}

.zpawn .selfie {
    position: relative;
    top: -4vw;
    right: 7.5vw;
    transform: perspective(800px) scale(.8);
    transition: all .6s ease;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, .46);
    outline: 1px solid var(--borders-woo);
}

.zpawn .selfie:hover {
    transform: perspective(800px) scale(.9);
    filter: grayscale(0.8);
    transition: all .8s ease
}

.zpawn .logos {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    left: 5.5vw;
}

.zpawn .logos img {
    max-width: 30px;
    height: auto;
}

.zpawn .logos img .linkedin {
    max-width: 20px;
}

.zpawn .logos img:hover {
    filter: grayscale(0.9);
    transition: all .5s ease
}

.zpawn .about .special {
    font-size: 1.1rem;
    font-family: "CardinalFruit", Serif;
    font-weight: bold;
    color: var(--nav-highlight-colour);
    letter-spacing: .05em;
    transition: all .4s ease;
}

.zpawn .about .special:hover {
    color: var(--highlight-hover);
    font-size: 1.3rem;
    transition: all .4s ease;
}

/*27-inch and + screens*/
@media only screen and (min-device-width: 2560px) {
    #spawn {
        min-height: 60vh;
        /*To make the nav better, ik not optimal but my site my rules*/
        top: -20vh;
    }

    .zpawn img {
        max-width: 13vw;
    }

    .zpawn .selfie {
        position: relative;
        left: -7vw;
    }

    .about p {
        font-size: 1.2rem;
    }
}


/*laptop screen*/
@media only screen and (min-device-width: 1200px) and (max-width: 1600px) {
    .about p {
        font-size: 1.1rem;
        max-width: 85%;
    }

    .zpawn h2::after {
        width: 24vw;
        margin-top: -20px;
    }

    .zpawn .selfie {
        position: relative;
        left: -5vw;
    }

    .zpawn .logos {
        left: 7vw;
    }
}

/*phone*/
@media only screen and (max-width: 600px) {
    #spawn {
        padding: unset;
        min-height: unset;
    }

    .zpawn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .zpawn > * {
        left: unset;
        top: unset;
        position: unset;
    }

    .zpawn h2::after {
        content: none;
        width: unset;
        margin-left: unset;
    }

    .zpawn .logos {
        gap: 10px;
        top: unset;
        left: unset;
    }

    .about p {
        font-size: 1rem;
        font-family: "NTR", sans-serif;
        max-width: unset;
    }

    .zpawn .selfie {
        display: none;
    }
}